@model IEnumerable<HomeLibrary.DatabaseModel.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearPublishment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverGuid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType.ItemTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPublishment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverGuid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a> |
                <a asp-action="Borrow" asp-route-id="@item.ItemId">Borrow</a>
             </td>
        </tr>
}
    </tbody>
</table>
